@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'shrimp';
    src: local('shrimp'), url(~assets/fonts/SHRIMP.ttf) format('truetype');
  }

  body {
    background-color: #ffd6af;
    color: #541e0d;
    font-family: 'Poppins', sans-serif;
  }
}
